*{
    padding: 0;
    margin: 0;
}
body{
     min-height: 100vh;
     background-size: 100vw 100vh;
     background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-image: url("../snake.jpef.jpg");
}
#board{
    margin-top: 30px;
    margin-left: 350px;
    border: 2px solid black;
     width: 90vmin;
     height: 90vmin;
     display: grid;
     grid-template-rows: repeat(18,1fr);
     grid-template-columns: repeat(18,1fr);
    background: linear-gradient(rgb(213, 226, 213),rgb(252, 243, 243));
} 

.head{
    background-color: red;
}
.food{
    background-color: pink;
}